<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>

<h2 th:text="'Üdvözöllek ' + ${matchdto.getUserDto().getName()} "></h2>

<div th:if="${matchdto.userDto.isAdmin()}">
     <a th:href="@{/admin(userid=${matchdto.getUserDto().getId()})}">Admin felület</a>
     
</div>

<form action="/logout" method="post">
    <input type="hidden" name="userid" th:value="${matchdto.userDto.getId()}"/>
    <input type="submit" value= "kijelentkezés"/>
</form>
<h3>Szűrés játékos alapján</h3>
<form action="/matchs/search/user" method="get">
    <select name="searcheduserid">
        <option th:each="dto : ${matchdto.getUserList()}"
                th:value="${dto.getId()}"
                th:text="${dto.getName()}">Név</option>
    </select> <input type="hidden" th:value="${matchdto.getUserDto().getId()}" name="userid" />
		<button type="submit">Keres</button>
</form>

<h3>Szűrés helyszín alapján</h3>
<form action="/matchs/search/location" method="get">
    <select name="searchedlocationid">
        <option th:each="dto : ${matchdto.getLocationList()}"
                th:value="${dto.getId()}"
                th:text="${dto.getName()}">Név</option>
    </select> <input type="hidden" th:value="${matchdto.getUserDto().getId()}" name="userid" />
		<button type="submit">Keres</button>
</form>

<a th:href="@{/match/all(userid=${matchdto.getUserDto().getId()})}">szűrő törlése</a>

<table>
    <thead>
        <tr>
            <th>Első játékos neve</th>
            <th>Első Játékos pontszáma</th>
            <th>Második játékos neve</th>
            <th>Második játékos pontszáma</th>
            <th>Játék helyszíne</th>
            <th>Ft/óra</th>
            <th>Dátum</th>
            <th>Eredmény</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="match : ${matchdto.getMatchDtos()}">
            <td th:text="${match.getUser1Name()}"></td>
            <td th:text="${match.getUser1Points()}"></td>
            <td th:text="${match.getUser2Name()}"></td>
            <td th:text="${match.getUser2Points()}"></td>
            <td th:text="${match.getPlaceName()}"></td>
            <td th:text="${match.getPlacePrice()}"></td>
            <td th:text="${match.getMatchDate}"></td>
            <td>
                <span th:if="${match.getUser1Points() > match.getUser2Points()}" th:text="'A nyertes: ' + ${match.user1Name}"></span>
                <span th:if="${match.getUser1Points() < match.getUser2Points()}" th:text="'A nyertes: ' + ${match.user2Name}"></span>
                <span th:if="${match.getUser1Points() == match.getUser2Points()}" th:text="'döntetlen'"></span>
            </td>
        </tr>
    </tbody>
</table>


</body>
</html>